## Equal-Weight S&P 500 Index Fund

### Introduction and Library Imports

The S&P 500 is the worlds' most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management. 

The goal os this project is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund. 

### Library Imports
The first thing we need to do is import the open source software libraries that we will be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

### Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard and Poor's) and pull their real-time constituents on a regular basis. 

Paying for access to the index provider's API is outside the scope of this course.

There is a static version of the S&P 500 constituents available in this project's folder.
Now its time to import these stocks to this notebook.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

### Acquiring an API Token 

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course. (Create an account with IEX Cloud and you will get free access to API via token for 7 day period).

API tokens (and other sensitive information) should be stored in a **api_token.py** file that does not get pushed to your Git repository. We will be using a sandbox API token in this course, which means that the data we will use is randomly-generated and (more importantly) has no cost associated with it.

In [3]:
from api_token import IEX_CLOUD_API_TOKEN

### Making Our First API Call

Now it's time to structure our API calls to IEX Cloud. 

We need the following informaition from the API:

    * Market Capitalization for each stock
    * Price of each stock

In [4]:
symbol = "AAPL"
api_url = f'https://api.iex.cloud/v1/data/CORE/QUOTE/{symbol}?token={IEX_CLOUD_API_TOKEN}' # see more at https://iexcloud.io/docs/core/QUOTE
#print(api_url)
data = requests.get(api_url).json()[0]
# print(data.status_code)

In [5]:
print(data)

{'avgTotalVolume': 56518763, 'calculationPrice': 'close', 'change': 0.62, 'changePercent': 0.00349, 'close': 178.18, 'closeSource': 'official', 'closeTime': 1694203200039, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': 178.26, 'delayedPriceTime': 1694203195202, 'extendedChange': 0.525, 'extendedChangePercent': 0.00295, 'extendedPrice': 178.705, 'extendedPriceTime': 1694217599001, 'high': 180.239, 'highSource': '15 minute delayed price', 'highTime': 1694203199970, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 178.2, 'iexCloseTime': 1694203199024, 'iexLastUpdated': 1694203481623, 'iexMarketPercent': 0.0173879584828929, 'iexOpen': 178.35, 'iexOpenTime': 1694179800150, 'iexRealtimePrice': 178.34, 'iexRealtimeSize': 100, 'iexVolume': 1140686, 'lastTradeTime': 1694203199958, 'latestPrice': 178.18, 'latestSource': 'Close', 'latestTime': 'September 8, 2023', 'latestUpdate': 1694203200039, 'latestVolume': 65602066, 'low': 177.79, 'lowSource': '15 minute delayed price', 'lowTime': 1694202752737, 'marketCap': 2785707457760, 'oddLotDelayedPrice': 178.275, 'oddLotDelayedPriceTime': 1694203195194, 'open': 178.35, 'openTime': 1694179801109, 'openSource': 'official', 'peRatio': 29.95, 'previousClose': 177.56, 'previousVolume': 112488803, 'primaryExchange': 'NASDAQ', 'symbol': 'AAPL', 'volume': 65602066, 'week52High': 197.7, 'week52Low': 123.48, 'ytdChange': 0.3825537412579836, 'isUSMarketOpen': False}

### Parsing Our API Call

The API call that we executed in the last code block contains all the information required to build our equal-weight S&P 500 Strategy.

With that said, the data isn't in a proper format yet. We need to parse it first.

In [6]:
price = data['latestPrice']
print(price)
market_cap = data['marketCap']
print(market_cap/1000000000000)

178.18
2.78570745776

### Adding Our Stocks data to a Pandas Dataframe

The next thing we need to do is add our stock's price and market capitalization to pandas DataFrame.

In [7]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [8]:
# operation on single ticker, that we need to perform for all the S&P 500 tickers 
pd.concat([final_dataframe, 
    pd.Series(
        [
            symbol, 
            price,
            market_cap,
            'N/A'
        ],
        index = my_columns
    ).to_frame().transpose()],
    ignore_index = True
)

  Ticker Stock Price Market Capitalization Number of Shares to Buy
0   AAPL      178.18         2785707457760                     N/A

### Looping through the tickers in our list of stocks

Using the same logic we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame usinf a **for** loop.

This process usually is very slow, hence **not preferable**.

In [9]:
final_dataframe = pd.DataFrame(columns= my_columns)

for stock in stocks['Ticker'][:10]:
    api_url = f'https://api.iex.cloud/v1/data/CORE/QUOTE/{stock}?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()[0]
    final_dataframe = pd.concat([final_dataframe, 
        pd.Series(
            [
                stock, 
                data['latestPrice'],
                data['marketCap'],
                'N/A'
            ],
            index = my_columns
        ).to_frame().transpose()],
        ignore_index = True
    )

In [10]:
final_dataframe

  Ticker Stock Price Market Capitalization Number of Shares to Buy
0      A      113.99           33352023249                     N/A
1    AAL       13.98            9134006855                     N/A
2    AAP       64.61            3842373563                     N/A
3   AAPL      178.18         2785707457760                     N/A
4   ABBV      149.02          263027256254                     N/A
5    ABC      179.98           36387430583                     N/A
6   ABMD      381.02           17180642928                     N/A
7    ABT      100.73          174802609325                     N/A
8    ACN      325.47          216213539414                     N/A
9   ADBE      560.36          255412088000                     N/A

### Using Batch API Calls To Improve Performance 

Batch API Calls are one of the easiest ways to improve the performance of your code. 

This is because HTTP requests are typically one of the slowest components of a script. 

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to. 

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we will make in this section from 500 to 5 - huge improvement! In this section we will split our list of stocks into groups of 100 and then make a batch API call for each group.

In [11]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i+n]  # using yield keyword for the first time! Would look more into it later :)

In [12]:
symbol_groups = list(chunks(stocks['Ticker'], 100))

In [13]:
symbol_groups

[0         A
 1       AAL
 2       AAP
 3      AAPL
 4      ABBV
       ...
 95     CINF
 96       CL
 97      CLX
 98      CMA
 99    CMCSA
 Name: Ticker, Length: 100, dtype: object,
 100     CME
 101     CMG
 102     CMI
 103     CMS
 104     CNC
        ...
 195    FTNT
 196     FTV
 197      GD
 198      GE
 199    GILD
 Name: Ticker, Length: 100, dtype: object,
 200     GIS
 201      GL
 202     GLW
 203      GM
 204    GOOG
        ...
 295     MAA
 296     MAR
 297     MAS
 298     MCD
 299    MCHP
 Name: Ticker, Length: 100, dtype: object,
 300     MCK
 301     MCO
 302    MDLZ
 303     MDT
 304     MET
        ...
 395     RHI
 396     RJF
 397      RL
 398     RMD
 399     ROK
 Name: Ticker, Length: 100, dtype: object,
 400     ROL
 401     ROP
 402    ROST
 403     RSG
 404     RTX
        ...
 495    XLNX
 496     XOM
 497    XRAY
 498     XRX
 499     XYL
 Name: Ticker, Length: 100, dtype: object,
 500     YUM
 501     ZBH
 502    ZBRA
 503    ZION
 504     ZTS
 Name: Ticker, dtype: object]

In [14]:
# Creating strings (batches) of 100 tickers per string
symbol_strings = []
for i in range(len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
print(symbol_strings[0])

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA

In [15]:
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [16]:
# batch API call (batch size is 100) # see how to call api for batch quering using this: https://iexcloud.io/documentation/search-data/batch-data-queries.html
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://api.iex.cloud/v1/data/core/QUOTE/{symbol_string}?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for i in range(len(symbol_string.split(','))):
        final_dataframe = pd.concat([final_dataframe,
                                    pd.Series([
                                        data[i]['symbol'], 
                                        data[i]['latestPrice'],
                                        data[i]['marketCap'],
                                        'N/A'
                                    ],index = my_columns).to_frame().transpose()],
                                    ignore_index=True)

In [17]:
final_dataframe

    Ticker Stock Price Market Capitalization Number of Shares to Buy
0        A      113.99           33352023249                     N/A
1      AAL       13.98            9134006855                     N/A
2      AAP       64.61            3842373563                     N/A
3     AAPL      178.18         2785707457760                     N/A
4     ABBV      149.02          263027256254                     N/A
..     ...         ...                   ...                     ...
500    YUM      126.53           35455133385                     N/A
501    ZBH      120.65           25211522767                     N/A
502   ZBRA      256.37           13161616379                     N/A
503   ZION       34.92            5173228044                     N/A
504    ZTS      185.78           85517674611                     N/A

[505 rows x 4 columns]

### Calculating the Number of Shares to Buy

As you can see in the dataframe above, we still have not calculated the number of shares of each stock to buy.
Let's do it next.

In [18]:
portfolio_size = input('Enter a numerical value of your portfolio:') # the input function converts the entered value into string! 
try:
    val = float(portfolio_size)
except ValueError:
    print('That is not a number! \nPlease try again:')
    portfolio_size = input('Enter the value of your portfolio:')
    val = float(portfolio_size)

Enter a numerical value of your portfolio: 10000000

In [28]:
position_size = val/len(final_dataframe.index) # position_size is the equal amount of money I have for each stock 
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i, 'Stock Price'])

In [29]:
final_dataframe

    Ticker Stock Price Market Capitalization Number of Shares to Buy
0        A      113.99           33352023249                     173
1      AAL       13.98            9134006855                    1416
2      AAP       64.61            3842373563                     306
3     AAPL      178.18         2785707457760                     111
4     ABBV      149.02          263027256254                     132
..     ...         ...                   ...                     ...
500    YUM      126.53           35455133385                     156
501    ZBH      120.65           25211522767                     164
502   ZBRA      256.37           13161616379                      77
503   ZION       34.92            5173228044                     567
504    ZTS      185.78           85517674611                     106

[505 rows x 4 columns]

### Formatting Our Excel Output

We will be using the XlsxWriter library for python to create nicely formatted Excel files. 

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Hence this section would be faily long!

#### Initializing our XlsxWriter Object

In [30]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine = 'xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

#### Creating the Formats We will Need For Our .xlsx File

Formats include colors, fonts, and also symbols like % and $. We will need four main formats for our Excel document:

 - String format for tickers
 - XX.XX format for stock prices
 - $XX.XXX format for market capitalization
 - Integer format for the number of shares to buy

In [31]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00', 
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [32]:
#### Applying the Formats to the Columns of Our .xlsx File

"""We can use the **set_column** method applied to the **writer.book** object to apply formats to specific columns of our spreadsheets.

Here's an example:

        writer.sheets['Recommended Trades'].set_column('B:B', # This tells the method to apply the format to col B,
                                                        18, # This tells the method to apply a column width of 18 pixels
                                                        string_template # This applies the format 'string_template' to the column
                                                    )
                                                    
"""

"We can use the **set_column** method applied to the **writer.book** object to apply formats to specific columns of our spreadsheets.\n\nHere's an example:\n\n        writer.sheets['Recommended Trades'].set_column('B:B', # This tells the method to apply the format to col B,\n                                                        18, # This tells the method to apply a column width of 18 pixels\n                                                        string_template # This applies the format 'string_template' to the column\n                                                    )\n                                                    \n"

In [33]:
# writer.sheets['Recommended Trades'].set_column('A:A', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('B:B', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('C:C', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('D:D', 18, string_format)
# writer.close()

In [34]:
# # Formatting column names
# writer.sheets['Recommended Trades'].write('A1','Ticker', string_format)
# writer.sheets['Recommended Trades'].write('B1','Stock Price', dollar_format)
# writer.sheets['Recommended Trades'].write('C1','Market Capitalization', dollar_format)
# writer.sheets['Recommended Trades'].write('D1','Number of Shares to Buy', integer_format)

The above commented codes works, but they violate the software principle of "Don't Repeat Yourself".

So let's simplify this by putting it in 2 loops:

In [35]:
# Formatting column values
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1',column_formats[column][0], column_formats[column][1])

### Saving our Excel Output

Saving our excel file is very easy:

In [36]:
writer.close()